@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* burger menue style */
.container {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    background-repeat: no-repeat;
    z-index: 1000;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
  }
.bar{
    width: 50px;
    height: 5px;
    background-color: #ae1b1e;
    margin: 6px 0;
    transition: 0.25s ease-in-out;
    border-radius: 10px;
}
.bar::before,
.bar::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 5px;
    background-color: #ae1b1e;
    transition: 0.5s ease-in-out;
    border-radius: 10px;
}
.bar::before{
    transform: translateY(-15px);
}
.bar::after{
    transform: translateY(15px);
}
.open .bar{
    background-color: transparent;
}
.open .bar::before{
    transform: rotate(-45deg);
}
.open .bar::after{
    transform: rotate(45deg);
}



section{   
    padding: 100px;
    min-height: 150vh;
}

.banner{
    position: relative;
    width: 100%;
    min-height: auto;
    min-height: 100vh;
}
.banner .imgSideBar img{
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    object-fit: cover;
}
.banner .contentBanner ,.sidebar {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 400px);
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
}


.logotext{
    position: absolute;
    top: 40px;
    left: 50px;
    font-size: 3.31em;
    text-transform:  capitalize;
    letter-spacing: 1px;
    /* background-image: linear-gradient(to bottom left, #e3dcd2, rgba(209, 27, 3, 0.041)); */
    color: #70012b;
    padding: 0 5px;
    animation: eftext 5s infinite;
}

@keyframes eftext{
    50%{
        color: #290311;
    }
}
.banner .contentBanner, .sidebar{
    background-image: url(img/test3.jpg);
    background-position: 100%; 
}
.banner .contentBanner h4{

    font-size: 1.5em;
    color: #70012b	;
    font-weight: 300;
}
.banner .contentBanner h4 span{
    color: 380116;
    font-size: 1.5em;
    font-weight: 700;
}
.banner .contentBanner h2{
    font-size: 3em;
    color: #951d2a;
    line-height: 1em;
    animation: eftext 5s infinite;
}



p{
    font-size: 1.7em;
    margin: 20px 0;
    font-weight: 300;
}



.btn{
    position: relative;
    display: inline-block; 
    border: 2px solid rgb(117, 21, 21);
    padding: 15px 30px;
    transition: 0.5;
    font-size: 20px;
    background: #ae1b1e ;
    color: aliceblue;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 2px;
    /* -webkit-box-reflect: below 0 linear-gradient(roboto, white); */
    -webkit-box-reflect: below 0px linear-gradient(transparent,rgba(170, 25, 25, 0.226));
    transition: 00.5s;
}
.btn:hover{
    color: #130007;
    font-size: 30px;
}
.btn:nth-child(2){
    filter: hue-rotate(80deg);
}
.btn::before{
    content: " ";
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: #130007;
    box-shadow: 5px -8px 0 #130007,
                5px 8px 0 #130007;
}
.btn::after {
    content: " ";
    position: absolute;
    right:-20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: #331d25;
    box-shadow: -5px -8px 0 #130007,
                -5px 8px 0 #130007;
}




.sidebar{
    position: fixed;
    background: #130007;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    padding: 40px;
    z-index: 100;
    right: -100%;
}
.sidebar.active{
    right: 0%;
}
.sidebar ul{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.sidebar ul li{
    list-style: none;
}

.sidebar ul li a{
    /* color: #ae1b1e; */
    text-decoration: none;
    font-size: 2em;
    margin: 10px 0;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform:uppercase;
}
.sidebar ul li a:hover
{
    color: #f57a7aa9;
} 
/* sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss */
.menu{
    position: relative; 
    display: flex;
    flex-direction: column;
}
.sidebar ul li{
    list-style: none;
}
.sidebar ul li::before{
    content: attr(data-text);
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: #ce0808a9;
    font-size:10em;
    font-weight: 700;
    pointer-events: none;
    opacity: 0;
    letter-spacing: 10px;
    transition: 0.5s;
    white-space: nowrap;
    top: 0;
    left: -100px;
    width: 80px;
    height: 80px;
    transition: 0s;
}
.sidebar ul li:hover:before{
    opacity: 0.15;
    letter-spacing: 0px;
    

}
.sidebar ul li a{
    position: relative;
    display: block;
    padding: 6px 15px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    overflow: hidden;
    transition: 0.5;
    z-index: 1;
}
.sidebar ul:hover li a{
    opacity: 0.5;
}
.sidebar ul li a:hover{
    transform: scale(1.5);
    z-index: 1000;
    opacity: 1;
}
.sidebar ul li:hover:before{
    right: calc(100% + 100px);
    transition: 1s;
    transition-delay: 0.2 ;
}
.sci{
    position: absolute;
    left: 50px;
    bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
.sci li{
    margin-right: 10px;
    list-style: none;
}
.sci li img{
    width:90px;
    height:90px;
    transform: scale(0.5);
    opacity: 0.75;
}
.sci li img:hover{
    transform: scale(0.8);
    opacity: 0.9;
}




.title {
    width: 100%;
    text-align: center;
}
.title h2{
    position: relative;
    counter-reset:#70012b ;
    font-size: 5.8em;
    font-weight: 700;
    letter-spacing: 1px;
}
.title p{
    max-width: 700px;
    font-size: 2em;
    font-weight: 700;
    display: inline-block;
}
.title h2::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 60px;
    height: 4px;
    background: #20030e;
}
.title.white h2
{
    color:#951d2a;
}
.title.white p
{
    color:#e3dcd2;
    font-size: 29px;
}
.title.white h2::before{
    background: #cf3224;
}










.about{
    /* background: #292929; */
    min-height: fit-content;
    background-image: url('img/test13.jpg');
    background-position: 100%;  
}
.about .content{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.about .content .textBx{
   min-width: 49%;
   width: 49%;
}
.about .content .textBx p{
 color: rgb(255, 255, 255);
}
.about .content .imgBx{
    margin-left: 40px;
}
.about .content .imgBx img {
    max-width: 80% ;
    margin-left: 15%;
}










.Experience {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 20px;
    background-image: url('img/test5.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 100% 100%; 
}
.Experience .content .ExperienceBx{

    padding: 40px 20px;
    width: 1500px;
    height:auto;
    margin: 20px;
    transition: 0.5;
    text-align: center;
    background: #ead7d7c8;
    margin: 10px;
    border: 5px  double  rgb(85, 26, 26);
    border-radius: 30px;
    box-shadow: 2px 2px 6px 0px rgba(170, 70, 20, 10);      
}
.Experience .content .ExperienceBx:hover{
    background: #180202ea;
}
.Experience .content .ExperienceBx img{
    max-width: 80px;
    transition: 1.5s;
    
}
.Experience .content .ExperienceBx:hover img{
    filter:invert(1)
}
.Experience .content .ExperienceBx:hover h2{
    color: #ac243289;
}
.Experience .content .ExperienceBx h2{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 600;
    transition: 0.5;
}
.Experience .content .ExperienceBx:hover p{
    color: #fff;  
}

.Experience .content .ExperienceBx p,li{
    text-align: start;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
    transition: 0.5;
     
}
.Experience .content .ExperienceBx li{
    margin-left: 5%;
    list-style-type: square;
    
}
.Experience .content .ExperienceBx:hover li{
    color: #fff;  
}






.project {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 20px;
    background-image: url(img/test17.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;  
}
.project .content .ExperienceBx{
    padding: 40px 20px;
    width: 400px;
    height: 650px;
    margin: 20px;
    transition: 0.5;
    text-align: center;
    background: #030109f1;
    margin: 10px;
    border: 5px double  rgb(9, 11, 11);
    border-radius: 30px;
    box-shadow: 2px 2px 6px 0px rgba(170, 70, 20, 10);  
}
.project .content .ExperienceBx:hover{
    background: #ead7d7ea;
}
.project .content .ExperienceBx:hover img{
    filter:invert(0)
}
.project .content .ExperienceBx img{
    filter:invert(1)
}
.project .content .ExperienceBx h2{
    margin-top: 20px;
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    transition: 0.5;
    
}
.project .content .ExperienceBx img{
    max-width: 80px;
    transition: 1.5s;
}
.project .content .ExperienceBx:hover h2{
    filter:invert(1)
 }
.project .content .ExperienceBx p{
     margin-top: 20px;
     margin-bottom: 10px;
     font-size: 20px;
     font-weight: 400;
     transition: 0.5;
     color: #eed6d6;
 }
.project .content .ExperienceBx:hover p,li{
    color: rgb(0, 0, 0);
 }




.contact{
    /* background: #130007; */
    background-image: url(img/test1.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding: 10%;

}
.contact .contactForm{
    position: relative;
    width: 700px;
    margin-top: 20px;
}
.contact .contactForm .row{
    width: 100%;
    display: flex;
}
.contact .contactForm .row .col50{
    width: 50%;
    margin: 10px;
}
.contact .contactForm .row .col100{
    width: 100%;
    margin: 10px;
    text-align: center;
}

.contact .contactForm .row input,
.contact .contactForm .row textarea{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #380116;
    color: aliceblue;
    font-size: 16px;
    resize: none;
}
.contact .contactForm .row textarea{
    height: 100px;
}
.contact .contactForm .row input[type="submit"]{
    background: #ae1b1e;
    color: aliceblue;
    padding: 10px 30px;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer;
    max-width: 150px;
}

.copyright{
    color: aliceblue;
    background: #1f030d;
    text-align: center;
    padding: 10px;
}

.copyright p{
    margin: 0%;
    font-size: 16px;
}
@media(max-width:400px){
    .Experience .content .ExperienceBx{

        width: auto;
        height:auto;
   
    }
    section {
    padding: 20px;
    min-height: 150vh;
    }
   .logotext{
       display: none;
   }
    .sci li img{
        display: none;
    }
    .logotext{
        font-size: 1em;
    }
    .banner .contentBanner h2{
        font-size: 2em;
    }
    p{
        font-size: 1.1em;
        margin: 20px 40;
        font-weight: 300;
    }
}
@media(max-width:1597px){

    .Experience .content .ExperienceBx{


        width: 100%;
        height:auto;

    }
}
@media(max-width:991px){

    .Experience .content .ExperienceBx{


        width: auto;
        height:auto;

    }


    

    .banner .imgSideBar{
        display: none;
    }
    .banner {
        min-height: 1000px;
    }
    .banner .contentBanner , 
    .sidebar {
        width:100%;
        padding: 20px;  
    }
    .logotext{
        left: 20px;
    }
    .sci{
        left: 20px;
        bottom: 20px;
    }
    .sci li img{
        height: 80px;
        width: 80px;
    }
    .content .textBx {
        text-align: left;

    }
    
    .about .content{
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        margin-top: 30px;
        text-align: center;
    }
    .about .content .textBx{
        text-align: center; 
        min-width: 100%;
        width: 100%;
    }
    /* ssssssssssssss */
    .about .content .imgBx{
        display: none;
    }
    /* .content .imgBx {
        display: none; 
    } */
    .contact .contactForm{
        width: 100%;
    }
    .contactForm .row{
        display: flex;
        flex-wrap: wrap;
    }
    .contactForm .col{
        display: flex;
        flex-wrap: wrap;
    }
    .contact .contactForm .row .col50{
        width: 100%;
    }

}

